/* 
    Created on : 13-jul-2017, 19:16:41
    Author     : luitgy
*/

.rojo {
  color: red;
}
.subrayado {
  text-decoration: line-through;
}
.negrita {
  font-weight: bold;
}
.azul{
    color: blue;
}